<nav class="w3-card-4">
  <div class="brand"><span class="fa fa-bar-chart"></span> BlocHome</div>
  <div class="items">
    <a href="/">Home</a>
    <a href="sell">Sell Property</a>
    <!-- <a href="about">About</a> -->
    <a href="login">Login</a>
  </div>
</nav>
