<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="container">
      <div class="cover" style="background: url('../images/cover2.jpg')">
        <div
          class="overlay w3-display-container"
          style="
            background: linear-gradient(to bottom right, #0099ff55, #000000);
          "
        >
          <div
            class="w3-display-middle"
            style="
              color: #fff;
              margin-top: 30px;
              text-align: center;
              width: 100%;
            "
          >
            <i style="display: block; margin-bottom: 10px; font-size: 20pt"
              ><span
                >Sell your property securely without any need of paperwork</span
              ></i
            >
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center; margin-top: 70px">
      <h2>
        <b style="border-bottom: 3px solid #0099ff55">Add a New Property</b>
      </h2>
    </div>
    <br />
    <div style="padding: 0px 300px">
      <form action="/sell" method="POST" enctype="multipart/form-data">
        <br /><br />
        <div
          class="flex"
          style="display: flex; width: 650px; align-items: center"
        >
          <div style="flex: 1; width: 200px">
            <label> <b>Price :</b> </label>
          </div>
          <div style="width: 500px">
            <input type="number" name="price" class="w3-input" required />
          </div>
        </div>
        <br /><br />
        <div
          class="flex"
          style="display: flex; width: 650px; align-items: center"
        >
          <div style="flex: 1; width: 200px">
            <label> <b>Location :</b> </label>
          </div>
          <div style="width: 500px">
            <input type="text" name="location" class="w3-input" required />
          </div>
        </div>
        <br /><br />
        <div
          class="flex"
          style="display: flex; width: 650px; align-items: center"
        >
          <div style="flex: 1; width: 200px">
            <label> <b>Wallet Address :</b> </label>
          </div>
          <div style="width: 500px">
            <input type="text" name="owneraddress" class="w3-input" required />
          </div>
        </div>
        <br /><br />
        <div
          class="flex"
          style="display: flex; width: 650px; align-items: center"
        >
          <div style="flex: 1; width: 200px">
            <label> <b>Add Image :</b> </label>
          </div>
          <div style="width: 500px">
            <input type="file" name="image" class="w3-input" required />
          </div>
        </div>
        <br /><br />
        <button
          class="w3-btn w3-input w3-card"
          style="
            background-color: #09f;
            border: none;
            width: 650px;
            color: #fff;
          "
          type="submit"
        >
          Add
        </button>
      </form>
    </div>
    <br />

    <div class="container" style="background-color: #eee">
      <div style="text-align: center; margin-top: 70px">
        <h2>
          <b style="border-bottom: 3px solid #0099ff55">Your Properties</b>
        </h2>
      </div>
      <div class="property-container">
        <% include partials/components/landlist.ejs %>
      </div>
    </div>
    <div class="row" style="display: none">
      <div
        class="col-10 offset-1"
        style="background-color: bisque; height: 200px"
      >
        <% include partials/components/status.ejs %>
      </div>
    </div>
    <% include partials/footer.ejs %> <% include partials/jsincludes.ejs %>
  </body>
</html>
